DB_USER=postgres
DB_PASSW=secret
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fastapi
DB_SCHEMA=postgresql+psycopg2

SQLALCHEMY_DATABASE_URL=${DB_SCHEMA}://${DB_USER}:${DB_PASSW}@${DB_HOST}:${DB_PORT}/${DB_NAME}

OPENAI_API_KEY=example

STREAMLIT_SERVER_HEADLESS=true

MAIL_USERNAME=example
MAIL_PASSWORD=example
MAIL_PORT=25
MAIL_SERVER=localhost
MAIL_FROM=info@example.com
MAIL_FROM_NAME="LLLExplorer"
# only MAIL_STARTTLS or MAIL_SSL_TLS can be enabled, not both
MAIL_STARTTLS=no
MAIL_SSL_TLS=no

SECRET_KEY=secret_key
ALGORITHM=HS256

MAX_DOCS_PLUS = 3
MAX_DOC_SIZE = 50000
MAX_IMAGES = 3

API_URL=http://192.168.31.253:8080
STREAMLIT_URL=http://192.168.31.253:8501